<div class="contenedor-total">
    <h2>Mantenimiento equipos de rotacion.</h2>

    <div class="contenedor">
        <form [formGroup]="form">
            <!-- Checkbox Reparación -->
            <mat-card class="card">
                <div class="fila">
                    <mat-checkbox formControlName="realizaReparacion">
                        ¿Se realizó reparación a equipos?
                    </mat-checkbox>
                </div>
            </mat-card>

            <!-- Secciones -->
            <ng-container *ngFor="let seccion of secciones">
                <mat-card class="card" *ngIf="seccion.key !== 'reparacion' || form.get('realizaReparacion')?.value"
                    [formGroupName]="seccion.key">
                    <mat-card-title>{{ seccion.label }}</mat-card-title>

                    <div class="fila">
                        <!-- Secciones normales -->
                        <mat-form-field appearance="outline" class="campo"
                            *ngIf="seccion.key !== 'reparacion' && seccion.key !== 'liberacion'">
                            <mat-label>Equipos Verificados</mat-label>
                            <input matInput type="number" formControlName="equiposVerificados" />
                        </mat-form-field>

                        <!-- Reparación -->
                        <ng-container *ngIf="seccion.key === 'reparacion'">
                            <mat-form-field appearance="outline" class="campo">
                                <mat-label>Equipos Ingresados</mat-label>
                                <input matInput type="number" formControlName="equiposIngresados" />
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="campo">
                                <mat-label>Equipos Reparados</mat-label>
                                <input matInput type="number" formControlName="equiposReparados" />
                            </mat-form-field>
                        </ng-container>

                        <!-- Liberación -->
                        <mat-form-field appearance="outline" class="campo" *ngIf="seccion.key === 'liberacion'">
                            <mat-label>Equipos Liberados</mat-label>
                            <input matInput type="number" formControlName="equiposLiberados" />
                        </mat-form-field>

                        <!-- Horas -->
                        <mat-form-field appearance="outline" class="campo">
                            <mat-label>Hora Inicio</mat-label>
                            <input matInput type="time" formControlName="horaInicio" />
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="campo">
                            <mat-label>Hora Fin</mat-label>
                            <input matInput type="time" formControlName="horaFin" />
                        </mat-form-field>
                        <!-- Campos de apoyo -->
                        <ng-container *ngIf="mostrarCamposApoyo">
                            <mat-form-field appearance="outline" class="campo"
                                *ngIf="form.get(seccion.key)?.get('equiposApoyo')">
                                <mat-label>Equipos realizados por apoyo ({{ seccion.label }})</mat-label>
                                <input matInput type="number" formControlName="equiposApoyo" />
                            </mat-form-field>
                        </ng-container>
                    </div>
                </mat-card>
            </ng-container>
        </form>
    </div>
</div>